@model IEnumerable<FirstProgressProyect.Models.Competence>

@{
    ViewData["Title"] = "Index";

    <h4 class="text-center" style="color: #FFFF">Competencias</h4>
    <hr />
}
<div id="carouselExampleIndicators" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://media.licdn.com/dms/image/v2/C5622AQHM8e3wkIS1sg/feedshare-shrink_800/feedshare-shrink_800/0/1592578804475?e=2147483647&v=beta&t=3a83TuyZOMGT2Em6VFwfDd4-ENetFh_rZmhwD053v9Q" class="d-block w-5" alt="Primera imagen">
        </div>
        <div class="carousel-item">
            <img src="https://hirint.io/wp-content/uploads/2024/07/dinners.png" class="d-block w-5" alt="Segunda imagen">
        </div>
        <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVlsPr1E4oZhODKF6QAW_yAeUrUtKK550rOpu3F67mfuAksXVtz9_zOuT1MQhCmWcoj4o&usqp=CAU" class="d-block w-20" alt="Tercera imagen">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>
    <div style=" background-color: rgba(23,50,88,0.8); min-height: 100vh; padding: 20px"
    <p>
    <a asp-action="Create"class="btn btn-primary">Crear Competencias</a>
    </p>


<table class="table" style="color: #FFFF">
    <thead>
        
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumParticipants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxNumParticipants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinNumParticipants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxDateOfIncription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Admin.ConfirmPassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumParticipants)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxNumParticipants)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinNumParticipants)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxDateOfIncription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
      
}
    </tbody>
</table>
</div>
